* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 16.6% 83.3%;
  grid-template-rows: 80px 50px fit-content(40%) 50px;
  gap: 4px;
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
}

div.logo{
  padding: 0;
  text-align: left;
}

.menu {
}

.menu ul {
  list-style-type: none;
  margin: 0 0 0 auto;
  float: right;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
}

.menu li {
  font-size: 16px;
  float: left;
}

.sidebar {
  background-color: #FF7755;
  grid-row: 2 / -2;
  display: grid;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  align-items: center;
}

.photo  {
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-items: center;
}

.nav {
  background-color: #FF7755;
}

.nav ul {
  display: grid;
  list-style-type: none;
  grid-auto-flow: column;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / -1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
